/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


header{
    display: flex;
    width: 100%;
}

header nav{
    display: flex;
    width: 75%;
    justify-content: space-around;
    color: gray;
    font-size: 19px;
}

header img.logo{
    display:inline-block;
    width: 22%;
}

section.main-section{
    display: flex;
    margin-top: 35px;
}

section.main-section span{
    display:inline-block;
    width: 50%;
}

section.main-section h1{
    font-size: 65px;
    text-align: center;
    padding-top: 35px;
}

section.main-section button{
    background-color: white;
    border: 1px solid black;
    height: 35px;
    margin-left: 250px;
}

section.main-section img{
    padding-left: 65px;
}

section.border-top{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 25px;
}

section.border-top div{
    display:inline-block;
    width: 50%;
    padding: 0 15px;
}

section.border-top h3{
    font-size: 20px;
}

img.middle-img{
    display: block;
    width: 100%;
}



section.border-bottom{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 25px;
}

section.border-bottom div{
    display:inline-block;
    width: 30%;
    padding: 0 15px;
}

section.border-bottom h3{
    font-size: 20px;
}

footer{
    margin-top: 15px;
}

footer h3{
    font-size: 20px;
}

footer p{
    padding-top: 8px;
}

p#copyright{
    text-align: center;
}

/*  TABLET - max-width: 800px   */

@media(max-width:800px){
    header{
        flex-direction: column-reverse;
    }
    header nav{
        width: 100%;
    }
    header img{
        display:block;
        margin: 10px auto;
    }

    section.main-section img{
        display: none;
    }
    section.main-section span{
        width: 100%;
    }
    section.main-section span button{
        width: 20%;
        margin-left: 40%;
    }
}

/*  MOBILE - max-width: 500px   */

@media(max-width:500px){
    header{
        flex-direction: column-reverse;
    }
    header nav{
        width: 100%;
        flex-direction: column;
        border-top: 1px solid darkgray;
    }
    header nav a{
        border-bottom: 1px solid darkgray;
        height: 7vh;
        text-align: center;
        padding-top: 7px;
    }
    header img{
        display:inline-block;
        margin: 10px auto;
        height: 5vh;
        width: 100%;
    }

    section.border-top{
        flex-wrap: wrap;
        margin: 15px 15px 0 15px;
        padding: 15px;
    }
    section.border-top div{
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
    }

    section.border-bottom{
        flex-wrap: wrap;
        margin: 15px 15px 0 15px;
        padding: 15px;
    }
    section.border-bottom div{
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
    }
    
}